<div class="container">
    <form action="">
        <p>
            <mat-form-field class="w-100" appearance="legacy">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Placeholder">
                <mat-icon matSuffix>Choose a name</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="w-100" appearance="standard">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="w-100" appearance="fill">
                <mat-label>Website</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
        </p>
        <div class="row">
            <div class="col d-flex justify-content-between">
                <button routerLink="/home" mat-raised-button>Back</button>
                <button color="primary" mat-raised-button>Adicionar</button>
            </div>
        </div>
    </form>
</div>