tbody td {
    border-style: none;
}

.thead{
    display: flex;
    background-color: rgb(237, 237, 237);
    border-bottom: 0.3px solid gray;
    border-top: 0.3px solid gray;
}

.thead .title {
    border-right: 0.5px solid gray;
    flex-grow: 1;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
}

.thead .title label {
    margin-left: 10px;
}

#users-list button {
    width: 40%;
    margin: 0 5px;
    font-size: 16px;
    transform: translateY(75%);
}

.profile-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#users-list img, 
#users-list input{
    float: left;
}

.user-container {
    display: flex;
    gap: 20px;
    width: 100px;
}

.user-container p
{
    margin: 0;
}

input[type="checkbox"] {
    width: 15px;
}

small{
    color: gray;
}


.col-form-label{
    font-size: 16px;
}



